<!DOCTYPE html>
<html>
<head>
    <title>{% if data %}Edit{% else %}Add{% endif %} Book</title>
</head>
<body>
    <h1>{% if data %}Edit{% else %}Add{% endif %} Book</h1>
    {% if errors %}
        <ul style="color: red;">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title" value="{{ data.title|default:'' }}"><br><br>
        <label>Author:</label><br>
        <input type="text" name="author" value="{{ data.author|default:'' }}"><br><br>
        <label>Description:</label><br>
        <textarea name="description">{{ data.description|default:'' }}</textarea><br><br>
        <label>Price:</label><br>
        <input type="text" name="price" value="{{ data.price|default:'' }}"><br><br>
        <label>Stock:</label><br>
        <input type="number" name="stock" value="{{ data.stock|default:'' }}"><br><br>
        <button type="submit">{% if data %}Update{% else %}Add{% endif %} Book</button>
    </form>
    <p><a href="{% url 'bookstore_app:admin_book_list' %}">Back to Admin Book List</a></p>
</body>
</html>
